GOOGLE_SERVICE_ACCOUNT_FILE=credentials/service-account.json
GOOGLE_SHEET_ID=

SEARCHIQS_OUTPUT_DIR=output
SEARCHIQS_DELAY_MIN=1
SEARCHIQS_DELAY_MAX=3
SEARCHIQS_CONNECT_TIMEOUT=15
SEARCHIQS_REQUEST_TIMEOUT=60
SEARCHIQS_MAX_REDIRECTS=5
SEARCHIQS_READ_ATTEMPTS=3
SEARCHIQS_MAX_PAGES=1000
SEARCHIQS_RUN_DEADLINE=7200
SEARCHIQS_BACKOFF_BASE=2
SEARCHIQS_BACKOFF_CAP=60
